<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.timbooo.traktforalfred</string>
	<key>connections</key>
	<dict>
		<key>02E5C931-7318-470A-94EE-F76CAE18A560</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DCFB11F-591C-4E73-A169-9C269926F37D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>182ADB84-802B-44FB-AEAE-A3D9C3544F8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F5EFC91-D7BE-479E-889D-0B4EE1DC8F88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2A0025CF-12DD-4820-B53D-FA117B432F1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DCFB11F-591C-4E73-A169-9C269926F37D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3B44DF84-A58F-4BDB-96A4-56520405D6FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DCFB11F-591C-4E73-A169-9C269926F37D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4A84E4B0-5AD5-4018-9604-FAF6A44B2FE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DCFB11F-591C-4E73-A169-9C269926F37D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>51D2287A-DEC4-4763-BDB3-EA04BBDBF6F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDCEF5B2-BCB7-4A89-80AD-F07207AAAD87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5F5EFC91-D7BE-479E-889D-0B4EE1DC8F88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDCEF5B2-BCB7-4A89-80AD-F07207AAAD87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>66DE8641-C7D7-4C1A-B643-AAC4CEC542B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51D2287A-DEC4-4763-BDB3-EA04BBDBF6F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>77D23569-C8E5-482F-8F26-55CE34210A28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDCEF5B2-BCB7-4A89-80AD-F07207AAAD87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8DCFB11F-591C-4E73-A169-9C269926F37D</key>
		<array/>
		<key>B185FFEE-9745-445E-818C-FC6FF6CE5C3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC8D91E2-C7A0-48DA-820C-9E37D8A70B49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C215BBD9-E442-42B1-AFC9-DEB49DFA0B4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77D23569-C8E5-482F-8F26-55CE34210A28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DC8D91E2-C7A0-48DA-820C-9E37D8A70B49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDCEF5B2-BCB7-4A89-80AD-F07207AAAD87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DE85D25A-0BDD-423C-B0BE-822D2232FC94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DCFB11F-591C-4E73-A169-9C269926F37D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tim Weller</string>
	<key>description</key>
	<string>Search trakt.tv, check out trends or manager your watchlists and libraries...</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Trakt for Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>require('workflows.php');
$w = new Workflows();

exec('touch settings.plist');

$apikey = "{query}";
$apikey = trim($apikey);

if (empty($apikey)) {
	echo 'Error: API key is empty.';
} else {
	$w-&gt;set('apikey', $apikey, 'settings.plist');
	echo 'API key has been saved.';
}</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>51D2287A-DEC4-4763-BDB3-EA04BBDBF6F5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>trakt-apikey</string>
				<key>subtext</key>
				<string>Get it from trakt.tv: Profile -&gt; Settings -&gt; API</string>
				<key>text</key>
				<string>Set Your trakt.tv API key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>66DE8641-C7D7-4C1A-B643-AAC4CEC542B4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Trakt for Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CDCEF5B2-BCB7-4A89-80AD-F07207AAAD87</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>trakt-username</string>
				<key>subtext</key>
				<string>Stores your username for user based actions.</string>
				<key>text</key>
				<string>Set Your trakt.tv Username</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C215BBD9-E442-42B1-AFC9-DEB49DFA0B4E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>require('workflows.php');
$w = new Workflows();

exec('touch settings.plist');

$username = "{query}";
$username = trim($username);

if (empty($username)) {
	echo 'Error: Username is empty.';
} else {
	$w-&gt;set('username', $username, 'settings.plist');
	echo 'Username has been saved.';
}</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77D23569-C8E5-482F-8F26-55CE34210A28</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>require('workflows.php');
$w = new Workflows();

exec('touch settings.plist');

$password = "{query}";
$password = trim($password);

if (empty($password)) {
	echo 'Error: Password is empty.';
} else {
	$w-&gt;set('password', sha1($password), 'settings.plist');
	echo 'Password hash has been saved.';
}</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5F5EFC91-D7BE-479E-889D-0B4EE1DC8F88</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>trakt-password</string>
				<key>subtext</key>
				<string>Note: Only the SHA1 hash of your password will be stored!</string>
				<key>text</key>
				<string>Set Your trakt.tv Password</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>182ADB84-802B-44FB-AEAE-A3D9C3544F8C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>trakt-testauth</string>
				<key>subtext</key>
				<string>Check Your trakt.tv Username and Password</string>
				<key>text</key>
				<string>Test trakt.tv Authentication</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B185FFEE-9745-445E-818C-FC6FF6CE5C3A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>require('workflows.php');
$w = new Workflows();

exec('touch settings.plist');

$apikey = $w-&gt;get('apikey', 'settings.plist');
$username = $w-&gt;get('username', 'settings.plist');
$password = $w-&gt;get('password', 'settings.plist');

if (empty($username) || empty($password) || empty($apikey)) {
	echo 'FAILED: API key, username or password is not set.';
} else {
	$url = "http://api.trakt.tv/account/settings/$apikey";
	$post = array('username' =&gt; $username, 'password' =&gt; $password);
	$options = array(CURLOPT_POST =&gt; 1, CURLOPT_POSTFIELDS =&gt; $post);
	$auth = $w-&gt;request($url, $options);
	$auth = json_decode($auth);
	
	if ($auth-&gt;status == 'success') {
		echo 'Authentication successful.';
	} else {
		echo 'FAILED: Username or password is incorrect.';
	}
}</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DC8D91E2-C7A0-48DA-820C-9E37D8A70B49</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8DCFB11F-591C-4E73-A169-9C269926F37D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>trakt-trends</string>
				<key>runningsubtext</key>
				<string>Requesting trending shows or movies ...</string>
				<key>script</key>
				<string>php -f traktforalfred.php -- 'trends' '{query}'</string>
				<key>subtext</key>
				<string>Show trending shows or movies from trakt.tv</string>
				<key>title</key>
				<string>Trakt Trends</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4A84E4B0-5AD5-4018-9604-FAF6A44B2FE1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>trakt-shows</string>
				<key>runningsubtext</key>
				<string>Searching for shows ...</string>
				<key>script</key>
				<string>php -f traktforalfred.php -- 'shows' '{query}'</string>
				<key>subtext</key>
				<string>Search for shows on trakt.tv</string>
				<key>title</key>
				<string>Trakt Shows</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2A0025CF-12DD-4820-B53D-FA117B432F1E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>trakt-movies</string>
				<key>runningsubtext</key>
				<string>Searching for movies ...</string>
				<key>script</key>
				<string>php -f traktforalfred.php -- 'movies' '{query}'</string>
				<key>subtext</key>
				<string>Search for movies on trakt.tv</string>
				<key>title</key>
				<string>Trakt Movies</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DE85D25A-0BDD-423C-B0BE-822D2232FC94</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>trakt-watchlists</string>
				<key>runningsubtext</key>
				<string>Requesting movie or show watchlist ...</string>
				<key>script</key>
				<string>php -f traktforalfred.php -- 'watchlists' '{query}'</string>
				<key>subtext</key>
				<string>Show your movie or show watchlists from trakt.tv</string>
				<key>title</key>
				<string>Trakt Watchlists</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3B44DF84-A58F-4BDB-96A4-56520405D6FC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>trakt-libraries</string>
				<key>runningsubtext</key>
				<string>Requesting movie or show library ...</string>
				<key>script</key>
				<string>php -f traktforalfred.php -- 'libraries' '{query}'</string>
				<key>subtext</key>
				<string>Show your movie or show libraries from trakt.tv</string>
				<key>title</key>
				<string>Trakt Libraries</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>02E5C931-7318-470A-94EE-F76CAE18A560</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>trakt-version</string>
				<key>script</key>
				<string>require('workflows.php');
$w = new Workflows();
$version = $w-&gt;get('version', 'settings.plist');
$w-&gt;result('', '', 'Trakt Version', $version, 'icons/info.png');
echo $w-&gt;toxml();
</string>
				<key>subtext</key>
				<string>Show the version number of Trakt for Alfred...</string>
				<key>title</key>
				<string>Trakt Version</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C2F5C8E5-4B04-45F2-8516-D0C64645F5E1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/timbooo/traktforalfred/blob/master/README.md</string>
	<key>uidata</key>
	<dict>
		<key>02E5C931-7318-470A-94EE-F76CAE18A560</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>182ADB84-802B-44FB-AEAE-A3D9C3544F8C</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>2A0025CF-12DD-4820-B53D-FA117B432F1E</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>3B44DF84-A58F-4BDB-96A4-56520405D6FC</key>
		<dict>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>4A84E4B0-5AD5-4018-9604-FAF6A44B2FE1</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>51D2287A-DEC4-4763-BDB3-EA04BBDBF6F5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5F5EFC91-D7BE-479E-889D-0B4EE1DC8F88</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>66DE8641-C7D7-4C1A-B643-AAC4CEC542B4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>77D23569-C8E5-482F-8F26-55CE34210A28</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>8DCFB11F-591C-4E73-A169-9C269926F37D</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>B185FFEE-9745-445E-818C-FC6FF6CE5C3A</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>C215BBD9-E442-42B1-AFC9-DEB49DFA0B4E</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>C2F5C8E5-4B04-45F2-8516-D0C64645F5E1</key>
		<dict>
			<key>ypos</key>
			<real>1000</real>
		</dict>
		<key>CDCEF5B2-BCB7-4A89-80AD-F07207AAAD87</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DC8D91E2-C7A0-48DA-820C-9E37D8A70B49</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>DE85D25A-0BDD-423C-B0BE-822D2232FC94</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/timbooo/traktforalfred</string>
</dict>
</plist>
