<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.timbooo.traktforalfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>072876ED-5543-4ED8-8C0F-828FB0814F00</key>
		<array/>
		<key>ADAEF247-C76C-4039-A78C-669A94BF096B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DBA7F1B-BD7A-46B8-8455-4608D05A7A35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B511FF16-5C86-47BD-AD80-AB3991CFCCDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADAEF247-C76C-4039-A78C-669A94BF096B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tim Weller</string>
	<key>description</key>
	<string>Search trakt.tv, check out trends or manager your watchlists and libraries...</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Trakt for Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Trakt for Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5DBA7F1B-BD7A-46B8-8455-4608D05A7A35</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>trakt-auth</string>
				<key>subtext</key>
				<string>Visit http://trakt.tv/pin/1527 to get a temporary PIN</string>
				<key>text</key>
				<string>Trakt Authenticate via PIN</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B511FF16-5C86-47BD-AD80-AB3991CFCCDF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>116</integer>
				<key>script</key>
				<string>python traktforalfred.py "auth" "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ADAEF247-C76C-4039-A78C-669A94BF096B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>116</integer>
				<key>keyword</key>
				<string>trakt-user</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting user information ...</string>
				<key>script</key>
				<string>python traktforalfred.py "user"</string>
				<key>subtext</key>
				<string>Display information about the currently authenticated user</string>
				<key>title</key>
				<string>Trakt User</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>072876ED-5543-4ED8-8C0F-828FB0814F00</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://timbooo.github.io/traktforalfred/</string>
	<key>uidata</key>
	<dict>
		<key>072876ED-5543-4ED8-8C0F-828FB0814F00</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>5DBA7F1B-BD7A-46B8-8455-4608D05A7A35</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>ADAEF247-C76C-4039-A78C-669A94BF096B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B511FF16-5C86-47BD-AD80-AB3991CFCCDF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://timbooo.github.io/traktforalfred/</string>
</dict>
</plist>
